/* General Styles */
html {
    /* background: url(http://phutora.com/img/friends3.jpg) no-repeat; */
    /* background-size: cover;
    height: 100%; */
    /* background-color: #000; */
}
body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Contact Form Styles */

h4 {
    margin: 0 0 20px 0;
    color: #424b54;
}
#contact-form {
    background-color: #93a8ac;
    padding: 10px 20px 30px 20px;
    max-width: 100%;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
#contact-form input,
#contact-form textarea,
#contact-form label {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: Arial, san-serif;
}
#contact-form input,
#contact-form textarea {
    width: 100%;
    background: #fff;
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 5px;
}
#contact-form input:focus,
#contact-form textarea:focus {
    background: #eaebec;
}
#contact-form textarea {
    width: 100%;
    height: 150px;
}
#contact-form button {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #9b6a6c;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
#contact-form button:hover {
    background: #e2b4bd;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

input:required,
textarea:required {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}
#contact-form .required {
    font-weight: bold;
    color: #e5e6e7;
}

/* Hide success/failure message
    (especially since the php is missing) */
/* #failure,
#success {
    color: #6ea070; */
/* display: none; */
/* } */

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
    #contact-form {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
