footer {

 // 23-April.Vanessa satt in height 100px.
 height: 100px;
 grid-row: 3/4;
 grid-column: 1/3;

 font-size: 0.7em;
 color: lightgray;
 width: 100%;
 background-color: #424b54;
 text-align: center;

 display: flex;
 align-items: center;
 justify-content: center;
}

@media (min-width: 700px) {

    footer {
        //25 april Vanessa satt in height auto.
        height: 100px;
    }

}
