* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #424b54;
  justify-content: space-between;
  align-items: center;
}

.navigation img {
  width: 10vw;
  padding-left: 30px;
}

a {
  font-size: 18px;
  text-decoration: none;
  margin: 20px;
}

.navigation-links {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navigation-link {
  text-decoration: none;
  padding: 0px 30px;
  color: white;
  font-size: 15px;
}

h1 {
  margin: 25px 0px;
  font-size: 22px;
  color: whitesmoke;
}

.container-over-all {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3fr 4fr 1fr;
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #424b54;

  grid-column: 1/3;
  grid-row: 1/2;
}

.main-container {
  grid-row: 2/3;
  grid-column: 1/3;
}

.admin_h2 {
  margin: 50px;
}

.show-btn {
  display: block;
  color: whitesmoke;
}

.update-btn,
.create-btn,
.delete-btn {
  font-size: 15px;
  text-align: center;
}

.update-btn {
  color: #424b54;
  display: block;
  background-color: #93a8ac;
  border-radius: 2rem;
  padding: 2% 3%;
}
.create-btn {
  display: block;
  color: #424b54;
  background-color: #e2b4bd;
  border-radius: 2rem;
  padding: 2% 3%;
}
.delete-btn {
  display: block;
  color: #424b54;
  background-color: #9b6a6c;
  border-radius: 2rem;
  padding: 2% 3%;
  margin-bottom: 10%;
}

@media (min-width: 700px) {
  h1 {
    margin: 50px 0px;
  }

  .container-over-all {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 9fr 1fr;
  }

  .side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424b54;
    height: 100vh;

    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media (min-width: 820px) {
  h1 {
    font-size: 25px;
  }
}
