.productForm {
  margin: 5%;
  background: #ffffff;
  box-shadow: 0 4px 15px gray;
  display: grid;
  gap: 1em;
  max-width: 1180px;
  // width: 90%;
  padding: 5%;

  @media (max-width: 700px) {
    margin-bottom: 50px;
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

.labelss {
  display: block;
  padding: 1rem 0 0.25rem;
  text-transform: uppercase;
  font-size: 18px;
}

.formTitle22 {
  display: block;
  padding: 1rem 0 0.25rem;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin: 29px auto;
  @media (min-width: 900px) {
    grid-column: span 2;
  }
}
.formTitle2 {
  text-align: center;
  margin: 29px auto;
}

.productGroupForm {
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #424b54;
  width: 100%;
  margin-top: 20px;
  resize: none;
  font-size: 16px;
  @media (min-width: 900px) {
    width: 100%;
  }
}
.productForm .productConfirmBtnn {
  cursor: pointer;
  width: 50%;
  border: none;
  background: #424b54;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  display: block;

  &:hover {
    background: #93a8ac;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
  }
  @media (min-width: 900px) {
    grid-column: span 2;
  }
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  top: 35%;
  padding: 20px;
  background: linear-gradient(to bottom right, #93a8ac, #ffffff); //#fff;
  border-radius: 60px;
  min-width: 350px;
  width: 30%;
  height: 10%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  text-align: center;
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 55%;
  right: 50%;
  transition: all 200ms;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  text-align: center;
  margin: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.popup .close:hover {
  color: #e2b4bd;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}

#imgUl,
#updated-imgUl {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
}

.selected-img {
  padding: 15px 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
