.main-container {
  text-align: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #424b54;
}

h2 {
  color: #424b54;
}

.search-form {
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 3%;
}

.search-input {
  width: 90%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #424b54;
  margin-right: 0px;
  color: #424b54;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.search-submit-btn {
  padding: 5px 15px;
  margin: 0px 5px;
  border-radius: 30px;
  border: 2px solid #424b54;
  color: #424b54;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.radio-div {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  gap: 3%;

  width: 80%;
  margin-top: 5%;

  input {
    margin-right: 2%;
  }

  label {
    margin-right: 2%;
    font-size: 13px;
    text-align: left;
  }
}

.filtrera-p {
  width: 80%;
  text-align: left;
}

.selectbox-div {
  display: flex;
  width: 80%;
  align-content: flex-end;
  justify-content: center;
  margin-bottom: 2%;
}

#sort {
  background-color: #424b54;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  margin-top: 40px;
  width: 200px;
  font-size: 13px;
}

select {
  background-color: #424b54;
}

.orderContainer {
  margin: 2%;
  font-size: 10px;
  width: 100%;
}

.order-table {
  display: flex;
  flex-wrap: wrap;
}

.order-td {
  padding: 3%;
  margin: 0.5%;
  background-color: #424b54;
  border-radius: 2px;
  color: white;
  align-self: center;
}

.column-div {
  width: 30%;
}

.order-tr {
  border-bottom: #424b54 1px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  align-content: center;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
}

.order-tr:nth-child(1) {
  border-top: #424b54 1px solid;
}

.orderstatus-select {
  color: white;
  background-color: #424b54;
  border: 0.5px solid #424b65;
  width: 100%;
  height: 100%;
  font-size: 16px;
  vertical-align: middle;
}

.orderstatus-select:hover {
  background-color: #93a8ac;
}

.statusBtn {
  color: white;
  background-color: #424b54;
  border: 0.5px solid white;
  padding: 1.5%;
  width: 30%;
  margin-top: 1.5%;
  font-size: 12px;
  border-radius: 2px;
}

.statusBtn:hover {
  color: #93a8ac;
  cursor: pointer;
  border-color: #93a8ac;
}

.secondContainer {
  margin-bottom: 7%;
  .order-td {
    background-color: #838586;
  }
}

.secondHeadingOrders {
  margin-top: 8%;
}

@media (min-width: 700px) {
  .main-container {
    grid-row: 1/2;
    grid-column: 2;
  }

  .radio-div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .search-form {
    width: 80%;
    align-self: center;
  }

  .search-input {
    width: 30%;
  }

  .selectbox-div {
    display: flex;
    width: 80%;
    align-content: flex-end;
    justify-content: flex-end;
  }

  .orderContainer {
    width: 80%;
  }
}

.hide {
  display: none;
}

.filterHide {
  display: none;
}

.searchHide {
  display: none;
}

.order-td {
  list-style-type: none;
}
