.cart-section {
    padding: 40px 0px;
}

.heading-box {
    display: flex;
    justify-content: center;
    max-width: 1150px;
    margin: 20px auto;

    @media (min-width: 980px) {
        justify-content: left;
        padding: 0px 20px;
    }

    .cart-heading {
        margin: 0px;
        padding-left: 15px;
        font-size: 28px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        font-weight: lighter;
    }

    .cart-img {
        width: 40px;
        height: 40px;
    }
}

.to-start {
    margin-left: 35px;
}

.cart-container {
    display: grid;
    grid-template: 1fr;
    grid-template-rows: auto;
    max-width: 1200px;
    margin: auto;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

    @media (min-width: 980px) {
        grid-template: 1fr / 1fr 300px;
    }

    & > .cart-total-box {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: solid 5px #93a8ac;
        border-radius: 1rem;
        align-self: flex-start;
        position: sticky;
        top: 20px;
        margin: 20px;

        @media (min-width: 600px) {
            margin: 20px 20px;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px #93a8ac;
        margin: 20px;

        @media (min-width: 600px) {
            flex-direction: row;
            padding: 20px 50px 20px 20px;
        }

        .dlt-btn {
            display: flex;
            align-self: flex-start;
            width: 25px;
            height: 25px;
            padding: 40px;

            @media (min-width: 600px) {
                align-self: center;
                padding: 0px;
            }
        }

        .product-image {
            margin: 20px auto 0;
            width: 50vw;
            object-fit: contain;

            @media (min-width: 600px) {
                width: 100px;
                height: 100px;
                margin: 0 30px;
            }
        }

        .product-title {
            padding: 30px 0px;
            font-size: 22px;
            flex-grow: 1;

            @media (min-width: 600px) {
                font-size: 17px;
            }
        }

        .qty-container {
            display: grid;
            grid-template: auto / 15px 44px 15px;
            margin: 0 30px;
            position: relative;

            .max-limit-alert {
                position: absolute;
                top: calc(100% + 5px);
                left: 50%;
                transform: translate(-50%, 0);
                font-size: 9px;
                text-align: center;
            }

            .decrease-btn {
                grid-area: 1 / 1 / span 1 / span 1;
                background-color: #93a8ac;
                display: flex;
                justify-content: center;
                align-items: center;

                &.hide {
                    display: none;
                }
            }

            .qty-input {
                width: 30px;
                padding: 5px;
                margin: 0;
                grid-area: 1 / 2 / span 1 / span 1;
            }

            .increase-btn {
                grid-area: 1 / 3 / span 1 / span 1;
                background-color: #93a8ac;
                display: flex;
                justify-content: center;
                align-items: center;

                &.hide {
                    display: none;
                }
            }
        }
        .price {
            width: 100px;
            text-align: center;
            margin-top: 30px;
            padding-right: 20px;

            @media (min-width: 600px) {
                text-align: right;
                margin: 0;
            }
        }
        .discount {
            font-size: 12px;
            color: red;
            margin: 20px 0 20px;
        }
    }

    #total {
        display: block;
        // margin: 25px 10px;
        font-weight: bolder;
        text-align: center;
    }

    #dropCartBtn {
        text-align: center;
        color: white;
        padding: 8px 0px;
        cursor: pointer;
        border-radius: 2rem;
        background-color: #9b6a6c;
        margin: 20px;

        &:hover {
            background-color: #93a8ac;
        }
    }

    #cashier {
        font-size: 18px;
        text-align: center;
        color: white;
        padding: 18px 10px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 2rem;
        background-color: #93a8ac;

        &:hover {
            background-color: #c5c5c5;
        }
    }

    #shipping {
        font-size: 14px;
        text-align: center;
    }

    .shipping-info {
        margin-top: 20px;
        font-size: 9px;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 0 15px;

        @media (min-width: 600px) {
            font-size: 11px;
        }
    }

    a {
        text-decoration: none;
    }
}

.empty {
    text-align: center;
    margin: 60px;
}
