footer {
  font-size: 0.7em;
  color: white;
  width: 100%;
  height: 30vh;
  background-color: #93a8ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-top: #93a8ac solid 2px;

  .first_div_footer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    div {
      display: inline-block;
      right: 0px;
    }

    p {
      text-align: center;
    }

    img {
      width: 20vw;
    }
  }
  a {
    text-decoration: none;
    color: white;
    padding: 2%;
  }

  .footer_categories {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 435px) {
  footer {
    font-size: 0.9em;
    .first_div_footer {
      flex-direction: row;
      justify-content: space-around;
      height: 40%;

      p {
        text-align: left;
      }

      img {
        width: 15vw;
      }
    }

    .footer_categories {
      width: 70%;
    }
  }
}

@media (min-width: 800px) {
  footer {
    font-size: 0.9em;
    .first_div_footer {
      flex-direction: row;
      justify-content: space-around;
      height: 40%;

      p {
        text-align: left;
      }

      img {
        width: 15vw;
      }
    }

    .footer_categories {
      width: 70%;
    }
  }
}
