header {
  height: 40vh;
  background-image: url(./images/header-photo.jpg);
  background-position: center;
  background-size: cover;
}

.header-category-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #93a8ac;
  border-bottom: #93a8ac solid 2px;
}

.header-category-link {
  text-decoration: none;
  color: white;
  padding: 0px 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.header_categories {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2%;
}

@media (min-width: 800px) {
  header {
    height: 50vh;
  }

  .header-category-links {
    height: 8vh;
  }
}
