.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #93A8AC;
    padding: 100px 0;
    list-style-type: none;
    .list-item {
        margin: 1em;
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: min-width;
            background-color: white;
            color: initial;
            text-decoration: none;
            padding: 0 0px;
        }
        .title {
            margin: .5em;
        }
        .price {
            align-self: flex-end;
            margin: .5em;
        }
        .search-img {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
    }
}

// .list {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     background-color: #93A8AC;
//     padding: 100px 0;
//     list-style-type: none;
//     .list-item {
//         margin: 1em;
//         a {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             background-color: white;
//             color: initial;
//             text-decoration: none;
//             width
//         }
//     }
// }