.startpageHeading {
  text-align: center;
  padding: 5%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #424b54;
  @media (min-width: 600px) {
    padding: 3%;
    font-size: 22px;
  }
  @media (min-width: 1000px) {
    padding: 3%;
    font-size: 30px;
  }
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  padding-bottom: 100px;
  width: 80%;
  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.product-ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60vw;
  margin: 20px auto;
  webkit-box-shadow: 0px 0px 15px -3px #93a8ac;
  -moz-box-shadow: 0px 0px 15px -3px #93a8ac;
  box-shadow: 0px 0px 15px -3px #93a8ac;
  border-radius: 10px;
  @media (min-width: 700px) {
    width: 35vw;
  }
  @media (min-width: 1200px) {
    width: 25vw;
  }
}

.product-ul:hover {
  webkit-box-shadow: 0px 0px 21px -3px #93a8ac;
  -moz-box-shadow: 0px 0px 21px -3px #93a8ac;
  box-shadow: 0px 0px 21px -3px rgb(5, 15, 17);
}

.product-li {
  display: flex;
  list-style: none;
  justify-content: center;
}

.product-li img {
  display: flex;
  width: 20vw;
  height: 20vw;
  padding: 30px 0px 50px 0px;
  object-fit: contain;
  @media (min-width: 1000px) {
    width: 10vw;
    height: 10vw;
  }
}

.product-li-name {
  font-size: 11px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: gray;
  padding-bottom: 20px;

  @media (min-width: 400px) {
    font-size: 12px;
  }
  @media (min-width: 600px) {
    font-size: 18px;
  }
}

.product-li-price {
  margin-bottom: 30px;
  padding: 1.5%;
  color: rgb(255, 255, 255);
  background-color: #424b54;
  width: 20%;
  align-self: center;
  border-radius: 10px;
}

.product-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}


.titleNew{
  text-align: center;
    padding: 5%;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #424b54;
}


.titleNewLink{
  position:absolute;
  margin: auto;
  color: #424b54;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 15px;
  display: contents;
  padding: 5%;
  font-weight: bold;
@media (min-width: 600px)
{
    padding: 3%;
    font-size: 22px;
}
@media (min-width: 1000px)
{
   padding: 3%;
   font-size: 30px;
}
}
