* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

@import "_nav.scss";
@import "_header.scss";
@import "_startpage.scss";
@import "_footer.scss";
