* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.navigation {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #93a8ac;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navigation img {
  margin-top: 2%;
  width: 30vw;
}

.search-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-input {
  width: 50%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-right: 15px;
  color: white;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.search-submit-btn {
  padding: 5px 15px;
  border-radius: 30px;
  border: 2px solid #93a8ac;
  color: #424b54;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  font-size: 15px;
}

.navigation-links {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.navigation-link {
  text-decoration: none;
  color: white;
  padding: 0px 0px;
}

@media (min-width: 800px) {
  .navigation {
    height: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navigation img {
    margin-left: 6%;
    margin-top: 0%;
    width: 10vw;
  }
  .search-form {
    width: 80%;
  }
  .navigation-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 4%;
  }
  .navigation-link {
    padding: 0px 10px;
    color: white;
  }
}

@media (min-width: 895px) {
  .navigation-link {
    padding: 0px 20px;
  }
}

header {
  height: 40vh;
  background-image: url(./images/header-photo.jpg);
  background-position: center;
  background-size: cover;
}

.header-category-links {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #93a8ac;
  border-bottom: #93a8ac solid 2px;
}

.header-category-link {
  text-decoration: none;
  color: white;
  padding: 0px 20px;
}

.header_categories {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 800px) {
  header {
    height: 50vh;
  }
  .header-category-links {
    height: 8vh;
  }
}

main {
  padding: 100px 0;
}

main h2 {
  margin: 0 auto 30px;
  max-width: 80%;
}

main .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

main .list .list-item {
  margin: 1em;
}

main .list .list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min-width;
  background-color: white;
  color: initial;
  text-decoration: none;
}

main .list .list-item .title {
  margin: .5em;
}

main .list .list-item .price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: .5em;
}

main .list .list-item .search-img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 20px;
}

.startpageHeading {
  text-align: center;
  padding: 5%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #424b54;
}

@media (min-width: 600px) {
  .startpageHeading {
    padding: 3%;
    font-size: 22px;
  }
}

@media (min-width: 1000px) {
  .startpageHeading {
    padding: 3%;
    font-size: 30px;
  }
}

.productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  padding-bottom: 100px;
  width: 80%;
}

@media (min-width: 600px) {
  .productContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.product-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  margin: 20px auto;
  webkit-box-shadow: 0px 0px 15px -3px #93a8ac;
  -webkit-box-shadow: 0px 0px 15px -3px #93a8ac;
          box-shadow: 0px 0px 15px -3px #93a8ac;
  border-radius: 10px;
}

@media (min-width: 700px) {
  .product-ul {
    width: 35vw;
  }
}

@media (min-width: 1200px) {
  .product-ul {
    width: 25vw;
  }
}

.product-ul:hover {
  webkit-box-shadow: 0px 0px 21px -3px #93a8ac;
  -webkit-box-shadow: 0px 0px 21px -3px #050f11;
          box-shadow: 0px 0px 21px -3px #050f11;
}

.product-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-li img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  height: 20vw;
  padding: 30px 0px 50px 0px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1000px) {
  .product-li img {
    width: 10vw;
    height: 10vw;
  }
}

.product-li-name {
  font-size: 11px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: gray;
  padding-bottom: 20px;
}

@media (min-width: 400px) {
  .product-li-name {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  .product-li-name {
    font-size: 18px;
  }
}

.product-li-price {
  margin-bottom: 30px;
  padding: 1.5%;
  color: white;
  background-color: #424b54;
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 10px;
}

.product-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productContainer1 {
  max-width: 1500px;
}

@media (min-width: 800px) {
  .productContainer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
  }
}

.imgContainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin: 50px 0 50px;
}

@media (min-width: 800px) {
  .imgContainer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin: auto;
  }
}

.imgContainer .mySlides {
  display: none;
  text-align: center;
}

.imgContainer .mySlides img {
  width: 70%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.imgContainer .prev,
.imgContainer .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.imgContainer .next {
  right: 3%;
}

@media (min-width: 750px) {
  .imgContainer .next {
    right: 4%;
  }
}

.imgContainer .prev {
  left: 3%;
}

@media (min-width: 750px) {
  .imgContainer .prev {
    left: 4%;
  }
}

.imgContainer .prev:hover,
.imgContainer .next:hover {
  color: #a7a7a7;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.productName {
  margin-bottom: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

@media (min-width: 750px) {
  .productName {
    font-size: 22px;
  }
}

.productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 9%;
}

@media (min-width: 800px) {
  .productInfo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.productInfo__description {
  font-size: 12px;
  line-height: 1.6;
}

@media (min-width: 750px) {
  .productInfo__description {
    font-size: 13px;
  }
}

.productInfo__price {
  margin-top: 20px;
  font-size: 19px;
}

.productInfo__stock {
  font-size: 11px;
  color: #26bb26;
  margin: 10px 0px;
}

.quantityInput {
  margin: 28px auto 10px;
  border: unset;
  border-bottom: 1px solid #424B54;
  text-align: center;
  padding: 2px;
  max-width: 79px;
  font-size: 12px;
}

.addToCartBtn {
  color: white;
  padding: 10px 27px;
  margin: auto;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
  border: solid 2px #424B54;
  background-color: #424B54;
}

.addToCartBtn:hover {
  background-color: #93A8AC;
  border: solid 2px #93A8AC;
  color: white;
}

footer {
  font-size: 0.7em;
  color: white;
  width: 100%;
  height: 30vh;
  background-color: #93a8ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: #93a8ac solid 2px;
}

footer .first_div_footer {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .first_div_footer div {
  display: inline-block;
  right: 0px;
}

footer .first_div_footer p {
  text-align: center;
}

footer .first_div_footer img {
  width: 20vw;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 2%;
}

footer .footer_categories {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 800px) {
  footer {
    font-size: 0.9em;
  }
  footer .first_div_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 40%;
  }
  footer .first_div_footer p {
    text-align: left;
  }
  footer .first_div_footer img {
    width: 15vw;
  }
  footer .footer_categories {
    width: 70%;
  }
}

.cart-section {
  padding: 40px 0px;
}

.heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1150px;
  margin: 20px auto;
}

@media (min-width: 980px) {
  .heading-box {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0px 20px;
  }
}

.heading-box .cart-heading {
  margin: 0px;
  padding-left: 15px;
  font-size: 28px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
}

.heading-box .cart-img {
  width: 40px;
  height: 40px;
}

.cart-container {
  display: -ms-grid;
  display: grid;
  grid-template: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  max-width: 1200px;
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

@media (min-width: 980px) {
  .cart-container {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 300px;
        grid-template: 1fr / 1fr 300px;
  }
}

.cart-container > .cart-total-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 20px 20px;
  border: solid 5px #93a8ac;
  border-radius: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  margin: 20px;
}

@media (min-width: 600px) {
  .cart-container > .cart-total-box {
    margin: 20px 20px;
  }
}

.cart-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 2px #93a8ac;
  margin: 20px;
}

@media (min-width: 600px) {
  .cart-container li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 50px 20px 20px;
  }
}

.cart-container li .dlt-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 25px;
  height: 25px;
  padding: 40px;
}

@media (min-width: 600px) {
  .cart-container li .dlt-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0px;
  }
}

.cart-container li .product-image {
  margin: 0px auto;
  width: 50vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 600px) {
  .cart-container li .product-image {
    width: 100px;
    height: 100px;
    margin: 0 30px;
  }
}

.cart-container li .product-title {
  padding: 30px 0px;
  font-size: 22px;
}

@media (min-width: 600px) {
  .cart-container li .product-title {
    font-size: 17px;
  }
}

.cart-container li .qty-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 15px 44px 15px;
      grid-template: auto / 1fr 15px 44px 15px;
  margin: 0 30px;
}

.cart-container li .qty-container .decrease-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / span 1 / span 1;
  background-color: #93a8ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-container li .qty-container .decrease-btn.hide {
  display: none;
}

.cart-container li .qty-container .qty-input {
  width: 30px;
  padding: 5px;
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / span 1 / span 1;
}

.cart-container li .qty-container .increase-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / span 1 / span 1;
  background-color: #93a8ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-container li .qty-container .increase-btn.hide {
  display: none;
}

.cart-container li .price {
  width: 100px;
  text-align: center;
  margin: 30px 0px;
}

@media (min-width: 600px) {
  .cart-container li .price {
    text-align: right;
  }
}

.cart-container #total {
  display: block;
  margin: 25px 10px;
  font-weight: bolder;
  text-align: center;
}

.cart-container #dropCartBtn {
  text-align: center;
  color: white;
  padding: 8px 0px;
  cursor: pointer;
  border-radius: 2rem;
  background-color: #9b6a6c;
  margin: 20px;
}

.cart-container #dropCartBtn:hover {
  background-color: #93a8ac;
}

.cart-container #cashier {
  font-size: 18px;
  text-align: center;
  color: white;
  padding: 18px 10px;
  cursor: pointer;
  border-radius: 2rem;
  background-color: #93a8ac;
}

.cart-container #cashier:hover {
  background-color: #c5c5c5;
}

.cart-container a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */