* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.navigation {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #424b54;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: lightgrey;
}

.navigation img {
  margin-top: 2%;
  width: 30vw;
}

.search-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-input {
  width: 50%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-right: 15px;
  color: lightgrey;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.search-submit-btn {
  padding: 5px 15px;
  border-radius: 30px;
  border: 2px solid #93a8ac;
  color: #424b54;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  font-size: 15px;
}

.navigation-links {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.navigation-link {
  text-decoration: none;
  color: lightgrey;
  padding: 0px 20px;
}

@media (min-width: 800px) {
  .navigation {
    height: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navigation img {
    margin-left: 6%;
    margin-top: 0%;
    width: 10vw;
  }
  .search-form {
    width: 80%;
  }
  .navigation-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 4%;
  }
  .navigation-link {
    padding: 0px 10px;
  }
}

@media (min-width: 895px) {
  .navigation-link {
    padding: 0px 20px;
  }
}

header {
  height: 40vh;
  background-image: url(../images/header_img.jpeg);
  background-position: center;
  background-size: cover;
}

.header-category-links {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #424b54;
  border-bottom: #93a8ac solid 2px;
}

.header-category-link {
  text-decoration: none;
  color: lightgrey;
  padding: 0px 20px;
}

.header_categories {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 800px) {
  header {
    height: 50vh;
  }
  .header-category-links {
    height: 8vh;
  }
}

.contactContainer {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 50px 0;
  background: #93a8ac;
}

/* Contact Form Styles */
.headerForm {
  margin: 0 0 20px 0;
  color: #424b54;
}

#contact-form {
  background: #93a8ac;
  padding: 10px 20px 30px 20px;
  max-width: 70%;
  margin: auto;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

#contact-form input,
#contact-form textarea,
#contact-form label {
  font-size: 15px;
  margin-bottom: 2px;
  font-family: Arial, san-serif;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #424b54;
  margin-bottom: 25px;
  padding: 5px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  background: #eaebec;
}

#contact-form textarea {
  width: 100%;
  height: 150px;
}

#contact-form button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #9b6a6c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

#contact-form button:hover {
  background: #e2b4bd;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

input:required,
textarea:required {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

#contact-form .required {
  font-weight: bold;
  color: #e5e6e7;
}

#error {
  color: red;
}

@media only screen and (min-width: 1025px) {
  #contact-form {
    max-width: 40%;
  }
}

footer {
  font-size: 0.7em;
  color: lightgray;
  width: 100%;
  height: 30vh;
  background-color: #424b54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: #93a8ac solid 2px;
}

footer .first_div_footer {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .first_div_footer div {
  display: inline-block;
  right: 0px;
}

footer .first_div_footer p {
  text-align: center;
}

footer .first_div_footer img {
  width: 20vw;
}

footer a {
  text-decoration: none;
  color: lightgray;
  padding: 2%;
}

footer .footer_categories {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 800px) {
  footer {
    font-size: 0.9em;
  }
  footer .first_div_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 40%;
  }
  footer .first_div_footer p {
    text-align: left;
  }
  footer .first_div_footer img {
    width: 15vw;
  }
  footer .footer_categories {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */