* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

@import "_nav.scss";
@import "_header.scss";
@import "_contact_form.scss";
@import "_startpage.scss";
@import "_product.scss";
@import "_orderConfirmation.scss";
@import "_order_form.scss";
@import "_footer.scss";
@import "_cart.scss";
