* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.navigation {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #424b54;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: lightgrey;
}

.navigation img {
  margin-top: 2%;
  width: 30vw;
}

.search-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-input {
  width: 50%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-right: 15px;
  color: lightgrey;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.search-submit-btn {
  padding: 5px 15px;
  border-radius: 30px;
  border: 2px solid #93a8ac;
  color: #424b54;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  font-size: 15px;
}

.navigation-links {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.navigation-link {
  text-decoration: none;
  color: lightgrey;
  padding: 0px 20px;
}

@media (min-width: 800px) {
  .navigation {
    height: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navigation img {
    margin-left: 6%;
    margin-top: 0%;
    width: 10vw;
  }
  .search-form {
    width: 80%;
  }
  .navigation-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 4%;
  }
  .navigation-link {
    padding: 0px 10px;
  }
}

@media (min-width: 895px) {
  .navigation-link {
    padding: 0px 20px;
  }
}

header {
  height: 40vh;
  background-image: url(./images/header_img.jpeg);
  background-position: center;
  background-size: cover;
}

.header-category-links {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #424b54;
  border-bottom: #93a8ac solid 2px;
}

.header-category-link {
  text-decoration: none;
  color: lightgrey;
  padding: 0px 20px;
}

.header_categories {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 800px) {
  header {
    height: 50vh;
  }
  .header-category-links {
    height: 8vh;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #93A8AC;
  padding: 100px 0;
  list-style-type: none;
}

.list .list-item {
  margin: 1em;
}

.list .list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min-width;
  background-color: white;
  color: initial;
  text-decoration: none;
}

.list .list-item .title {
  margin: .5em;
}

.list .list-item .price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: .5em;
}

.list .list-item .search-img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 20px;
}

footer {
  font-size: 0.7em;
  color: lightgray;
  width: 100%;
  height: 30vh;
  background-color: #424b54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: #93a8ac solid 2px;
}

footer .first_div_footer {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .first_div_footer div {
  display: inline-block;
  right: 0px;
}

footer .first_div_footer p {
  text-align: center;
}

footer .first_div_footer img {
  width: 20vw;
}

footer a {
  text-decoration: none;
  color: lightgray;
  padding: 2%;
}

footer .footer_categories {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 800px) {
  footer {
    font-size: 0.9em;
  }
  footer .first_div_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 40%;
  }
  footer .first_div_footer p {
    text-align: left;
  }
  footer .first_div_footer img {
    width: 15vw;
  }
  footer .footer_categories {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */